In [3]:
import numpy as np
import pandas as pd

In [48]:
data = pd.read_csv(
    'my-file.csv.gz',
    sep='\t',
    chunksize=100,
    compression='gzip')

In [58]:
df = pd.read_csv(
    'my-file.csv.gz',
    sep='\t',
    compression='gzip')

In [77]:
chunk = pd.DataFrame(
    {
        "timestamp": [123, 456, 789,345],
        "coordinate": ["0,0", "1,1", "2,2,3,3","23,23"],
        "user_id":["user1","user2","user3","user4"],
        "pixel_color": [0, 1, 2,3],
    }
)

In [79]:
chunk.user_id = pd.Categorical(chunk.user_id)
chunk['user_id'] = chunk.user_id.cat.codes
chunk

   timestamp coordinate  user_id  pixel_color
0        123        0,0        0            0
1        456        1,1        1            1
2        789    2,2,3,3        2            2
3        345      23,23        3            3

In [5]:
for i, df in enumerate(df_chunks):
    for date, d in df.groupby('date'):
        date = pd.Timestamp(date)
        d.drop_duplicates().to_csv(
            f'{date:%Y%m%d}.csv.gz',
            compression='gzip',
            mode='a',
            index=False,
            header=False
        )
    print(f'\r{i}', end='')

9

In [30]:
df_chunks.groupby('date')

In [33]:
for i, df in enumerate(df_chunks):
    for date, d in df.groupby('date'):
        print("data:",date)
        print("d:",d)
        break

data: 2019-01-03
d:       id        date
991  217  2019-01-01
data: 2019-01-19
d:       id        date
991  217  2019-01-01
data: 2019-01-10
d:       id        date
991  217  2019-01-01
data: 2019-01-03
d:       id        date
991  217  2019-01-01
data: 2019-01-01
d:       id        date
991  217  2019-01-01
data: 2019-01-03
d:       id        date
991  217  2019-01-01
data: 2019-01-29
d:       id        date
991  217  2019-01-01
data: 2019-01-11
d:       id        date
991  217  2019-01-01
data: 2019-01-22
d:       id        date
991  217  2019-01-01
data: 2019-01-01
d:       id        date
991  217  2019-01-01

In [6]:
from pathlib import Path

path = Path('.')

for i, fh in enumerate(path.glob('[0-9]' * 8 + '.csv.gz')):
    df = pd.read_csv(fh, header=None)
    df.drop_duplicates().to_csv(
        'my_filtered.csv.gz',
        compression='gzip',
        mode='a',
        index=False,
        header=False
    )
    print(f'\r{i}: {fh}', end='')

df = pd.read_csv(
    'my_filtered.csv.gz',
    compression='gzip',
    header=None,
    names=['id', 'date']
)

999: 20200730.csv.gz

In [7]:
assert len(df) == len(dfout) - dfout.duplicated().sum()
assert df.duplicated().sum() == 0

In [2]:
import pandas as pd
import collections
my_file_name = "63.csv"
my_chunk_size = 1000

data=pd.read_csv(my_file_name, chunksize=my_chunk_size)

In [46]:
uniques = collections.defaultdict(list)
for chunk in data:

ValueError: dictionary update sequence element #0 has length 88; 2 is required

In [7]:
from tqdm import tqdm

CHUNK_SIZE = 100_000
mapping = {}
counter = 1
infile_path = "78.csv"
#infile_path = "2022_place_canvas_history.csv"

with pd.read_csv(
        infile_path,
        usecols=["user_id"],
        chunksize=CHUNK_SIZE,
        engine="c",
    ) as csv:
        for chunk in tqdm(csv):
            for user in chunk.user_id:
                if not user in mapping:
                    mapping[user] = counter
                    counter += 1
            chunk["user_id"] = chunk["user_id"].map(mapping)
            df = pd.concat(chunk)

23it [00:12,  1.91it/s]

In [8]:
len(mapping.keys()) == len()

1004894

In [13]:
len(chunk)

35597

In [12]:
chunk.head()

         user_id
2200000   992026
2200001   139104
2200002   295221
2200003   335548
2200004   474770