In [9]:
import pandas as pd

In [6]:
df = pd.read_csv('data/2022_place_canvas_history.csv',nrows = 10)
df

,timestamp,user_id,pixel_color,coordinate
0,2022-04-04 00:53:51.577 UTC,ovTZk4GyTS1mDQnTbV+vDOCu1f+u6w+CkIZ6445vD4XN8a...,#00CCC0,"826,1048"
1,2022-04-04 00:53:53.758 UTC,6NSgFa1CvIPly1VniNhlbrmoN3vgDFbMSKqh+c4TTfrr3d...,#94B3FF,"583,1031"
2,2022-04-04 00:53:54.685 UTC,O5Oityp3Z3owzTuwM9XnMggpLcqKEumsOMKGhRiDTTImWb...,#6A5CFF,"1873,558"
3,2022-04-04 00:54:57.541 UTC,tc273UiqS0wKa6VwiOs/iz/t4LyPYrhL2Q347awn11IQQE...,#009EAA,"1627,255"
4,2022-04-04 00:55:16.307 UTC,OOWsU/HLb4UUkQwclDeXFtsJTOXMlAdNHiRpFA1Qk+SxUr...,#94B3FF,"49,1478"
5,2022-04-04 00:55:20.64 UTC,A0HdtcPvI7ipKivvXNVZDa3gkcjGXFjNxF5tca5QXazENC...,#E4ABFF,"408,1863"
6,2022-04-04 00:55:34.898 UTC,1U4LPuB22P6Yf7eRhKz6zU1dFMK5wXIzsNVPUNhP7eHIwG...,#94B3FF,"111,1582"
7,2022-04-04 00:55:40.375 UTC,0AGoMGF50j0DJDc+704SwMylU90YDILDIgo8WOetgpiEWG...,#6A5CFF,"1334,1840"
8,2022-04-04 00:55:57.168 UTC,tPcrtm7OtEmSThdRSWmB7jmTF9lUVZ1pltNv1oKqPY9bom...,#6A5CFF,"1908,1854"
9,2022-04-04 00:56:07.43 UTC,7wfv1Tew3St1xYXQrTy7EF4LYwuuzxb0TXOxzxGBXriim8...,#009EAA,"1504,1722"

In [58]:
START_TIME  = 1649026431

def parse_timestamp(timestamp):
    """Convert a YYYY-MM-DD HH:MM:SS.SSS timestamp to milliseconds after the start of r/Place 2022."""
    date_format = "%Y-%m-%d %H:%M:%S.%f"
    try:
        # Remove the UTC timezone from the timestamp and convert it to a POSIX timestamp.
        timestamp = datetime.strptime(timestamp[:-4], date_format).timestamp()
    except ValueError:
        # The timestamp is exactly on the second, so there is no decimal (%f).
        # This happens 1/1000 of the time.
        timestamp = datetime.strptime(timestamp[:-4], date_format[:-3]).timestamp()

    # Convert from a float in seconds to an int in milliseconds
    #timestamp *= 1000.0
    #timestamp = int(timestamp)

    # The earliest timestamp is 1648806250315, so subtract that from each timestamp
    # to get the time in milliseconds since the beginning of the experiment.
    timestamp = timestamp -  START_TIME
    timestamp = float(timestamp) / 60.
    timestamp = int(timestamp)
    return timestamp


# Parse a sample timestamp.
parse_timestamp("2022-04-01 00:1:2.375 UTC")

-4372

In [42]:
BEGIN = "2022-04-05 00:53:51.7 UTC"
from datetime import datetime

In [43]:
date_format = "%Y-%m-%d %H:%M:%S.%f"

datetime.strptime(BEGIN[:-4], date_format)

datetime.datetime(2022, 4, 5, 0, 53, 51, 700000)

In [9]:
type(df.timestamp[:1].squeeze())

str

In [7]:
int(df.timestamp[:1]) > 0 and int(df.timestamp[1:2]) < 0

ValueError: invalid literal for int() with base 10: '2022-04-04 00:53:51.577 UTC'

In [3]:
from datetime import datetime

In [11]:
datetime.utcfromtimestamp(227381262.0000)

datetime.datetime(1977, 3, 16, 17, 27, 42)

In [14]:
s = datetime.utcfromtimestamp(1648806250.315)
s

datetime.datetime(2022, 4, 1, 9, 44, 10, 315000)

In [8]:
s.timestamp()

227513515.0

In [23]:
number = 0

for number in range(10):
    if number == 5:
        pass    # pass here
    else:
        #print('wow')
        print('Number is ' + str(number))

print('Out of loop')

Number is 0
Number is 1
Number is 2
Number is 3
Number is 4
Number is 6
Number is 7
Number is 8
Number is 9
Out of loop

In [ ]:
df = pd.read_csv('reddit_trimmed.csv')
df.tail()

In [ ]:
with open('reddit_trimmed.csv', 'r') as f:
    lines = f.read().splitlines()
    last_line = lines[-1]
    print (last_line)

In [16]:
import pandas as pd
import numpy as np
l = []
with pd.read_csv(
        'reddit_trimmed.csv',
        chunksize=1000000,
        engine="c",
        dtype={'timestamp':np.uint16,
          'user_id':np.uint32,
          'pixel_color':np.uint8,
          'x':np.uint16,
          'y':np.uint16,}
    ) as csv:
        for chunk in csv:
            l.append(chunk.timestamp[-1:].squeeze())
l

[13,
 28,
 45,
 64,
 86,
 108,
 130,
 154,
 177,
 201,
 227,
 253,
 283,
 315,
 346,
 378,
 413,
 450,
 492,
 536,
 578,
 619,
 656,
 691,
 726,
 760,
 789,
 817,
 844,
 869,
 892,
 914,
 936,
 957,
 978,
 995,
 1009,
 1025,
 1041,
 1057,
 1070,
 1085,
 1101,
 1117,
 1132,
 1147,
 1162,
 1178,
 1194,
 1208,
 1219,
 1232,
 1247,
 1260,
 1274,
 1286,
 1297,
 1309,
 1321,
 1336,
 1346,
 1356,
 1366,
 1375,
 1384,
 1393,
 1403,
 1413,
 1424,
 1436,
 1447,
 1460,
 1480,
 1508,
 62139,
 62204,
 62263,
 62318,
 62374,
 62423,
 62475,
 62519,
 62561,
 62606,
 62653,
 62698,
 62748,
 62807,
 62869,
 62933,
 63000,
 63072,
 63151,
 63229,
 63306,
 63377,
 63442,
 63500,
 63554,
 63601,
 63645,
 63690,
 63730,
 63763,
 63797,
 63829,
 63861,
 63893,
 63924,
 63953,
 63982,
 64013,
 64047,
 64076,
 64109,
 64142,
 64180,
 64242,
 64284,
 64326,
 64361,
 64397,
 64434,
 64475,
 64522,
 64579,
 64638,
 64688,
 64737,
 64789,
 64840,
 64887,
 64931,
 64971,
 65009,
 65046,
 65078,
 65108,
 65135,
 65162,
 65187,
 65211,
 65235,
 65258,
 65282,
 65306,
 65326,
 65343,
 65358,
 65374,
 65393,
 65409,
 65426,
 65439,
 65452,
 65466,
 65480,
 65495,
 65512,
 65529,
 65535]

In [15]:
chunk.timestamp[-1:]

160353084    65535
Name: timestamp, dtype: uint16